#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    padding: 0 30px 30px;
    margin-top: 50px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

    .title-place {
        background-image: repeating-linear-gradient(black, yellow);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-align: center;
    }

}

@import './scss/newData';
@import './scss/tableHead.scss';
@import './scss/button.scss';
@import './scss/table.scss';
@import './scss/tableBody.scss';
